<h1>Listing talks</h1>

<table>
  <thead>
    <tr>
      <th>Speaker</th>
      <th>Title</th>
      <th>Avg/Dev
      <th># Reviews
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @talks.each do |talk| %>
      <tr>
        <td><%= talk.speaker %></td>
        <td><%= talk.title %></td>
        <td>
          <%= sprintf "%.2f", talk.mean %> /
          <%= sprintf "%.2f", talk.stddev %>
        </td>
        <td><%= talk.scores.length %></td>
        <td><%= link_to 'Show', talk %></td>
        <td><%= link_to 'Edit', edit_talk_path(talk) %></td>
        <td><%= link_to 'Destroy', talk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Talk', new_talk_path %>
