<%= form_for(@response) do |f| %>
  <% if @response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% @response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :years_using_ruby %><br>
    <%= f.text_field :years_using_ruby %>
  </div>
  <div class="field" style="float:left">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :stay, "Where did you stay?" %><br>
    <%= f.text_field :stay %>
  </div>

  <% @response.talk_responses.each do |talk_response| %>
    <div>
      <%= talk_response.speaker %>: <%= talk_response.title %>
      <div class="field">
        <%= f.fields_for :talk_responses, talk_response do |trf| %>
          <%= trf.hidden_field :id %>
          <%= trf.hidden_field :talk_id %>
          <%= trf.radio_button :score, 1 %>1
          <%= trf.radio_button :score, 2 %>2
          <%= trf.radio_button :score, 3 %>3
          <%= trf.radio_button :score, 4 %>4
          <%= trf.radio_button :score, 5 %>5
          <%= trf.text_area :comment %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :thoughts %><br>
    <%= f.text_area :thoughts %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
