<p id="notice"><%= notice %></p>

<p>
  <strong>Years using ruby:</strong>
  <%= @response.years_using_ruby %>
</p>

<p>
  <strong>City:</strong>
  <%= @response.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @response.state %>
</p>

<p>
  <strong>Stay:</strong>
  <%= @response.stay %>
</p>

<p>
  <strong>Scores:</strong>
  <table>
    <% @response.talk_responses.each do |talk_response| %>
      <tr><td>
      <%= talk_response.speaker %>: <%= talk_response.title %>
      <td>
      <%= talk_response.score %>
      <td>
      <%= talk_response.comment %>
      </tr>
    <% end %>
  </table>
</p>

<p>
  <strong>Thoughts:</strong>
  <%= @response.thoughts %>
</p>

<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %> |
<%= link_to 'Create Another', new_response_path %>


