<!DOCTYPE html>
<html>
<head>
  <title>GorucoFeedbackStatistics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'Responses', responses_path %> |
<%= link_to 'Talks', talks_path %>

<%= yield %>

</body>
</html>
